:root{
    --corprincipal: #253266;
}

@media screen and (max-width: 1300px){
    #conteudo-inicio{
        max-width: 500px;
        max-height: 400px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -250px;
        margin-top: -200px;
    }

    #conteudo-sobre{
        height: 40vh;
        margin: auto;
        margin-top: 30px;
        padding: 20px;
    }
}
@media screen and (max-width:600px) {
    header{
        height: 15vh;
        padding-bottom: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* 
    #inicio{
        background-image: none;
        background-color: var(--corprincipal)
    } */

    #conteudo-inicio{
        max-width: 450px;
        background-color: #2532669f;
        box-shadow: none;
        padding-left: 30px;
    }

    #conteudo-inicio h1{
        font-size: 2.5em;
    }
}

@media screen and (max-width:460px){
    header{
        height: 20vh;
        padding: 20px 0px;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    ul{
        padding-left: 0px;
    }

    ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li a{
        margin: 1px;
    }

    #conteudo-inicio{
        max-width: 450px;
        background-color: #2532669f;
        box-shadow: none;
        position: relative;
        margin: auto;
        margin: 0px 50% 5px -50%;
        padding-bottom: 280px;
    }

    #conteudo-inicio h1{
        font-size: 2.5em;
    }

    #conteudo-sobre{
        margin-top: 0px;
        margin-bottom: 30px;
    }
}